/* Existing styles above */

img {
  max-width: 100%;
}

/* Style rules for mobile viewport */

/* Style rules to show mobile class and hide tab-desk class */
.mobile {
  display: block;
}

.tab-desk {
  display: none;
}

/* Style rules for header area */
.mobile h1,
.mobile h3 {
  padding: 2%;
  text-align: center;
}

.mobile h1 {
  font-family: "Emblema One", system-ui;
}

.mobile h3 {
  font-family: "Lora", serif;
}

main {
  font-family: "Lora", serif;
}

/* Step 7: Navigation update */
ul {
  /* Reset styles */
}

nav ul {
  list-style-type: none;
}

nav li {
  display: block;
  border-top: 0.5px solid #f6eee4;
}

/* Round class */
.round {
  border-radius: 6px;
}

#info ul {
  margin-left: 10%;
}

/* Contact and tel-link */
.tel-link {
  background-color: #2a1f14;
  padding: 2%;
  width: 80%;
  margin: 0 auto;
}

.tel-link a {
  color: #f6eee4;
  text-decoration: none;
  font-weight: bold;
}
